extends layouts/layout

block title
  title Jeno Jakab, Software Engineer Developer

block content
  h1
    a(href="/index.html")
      | Jeno Jakab
  h2 Software Engineer
  .text
    p
      | Based in the beautiful rainy Ennis-Shannon area, on the west coast of Ireland.
      | Currently working for&nbsp;
      a(href="http://www.tecnotree.com/Company")
        | Tecnotree Corporation
      |  at the Shannon, Ireland R&D.
  h3 Work Latest Involvements
  .text
    p.
        NodeJs REST Server design and implementation for the company new product - the Shared Plan Service.
    ul
      li.
        Designed implemented a generic Nodejs package so to make it possible to build the Shared Plan service
        out of Kafka-based micro-services.
      li.
        The package supports to develop the Kafka micro-service server code and also to call such a micro-service from a client code.
      li.
        Implemented a number of Shared Plan micro-services in both javascript and Coffee script.
    p.
      I have a recent familiarization with erlang and elixir and had some exposure to the latest web
      technologies: html5, css3, sass, stylus, jade, static site generators, roots.cx, foundations 6 framework and
      responsive web design.
  .media-links
    span
      a(href="https://www.linkedin.com/in/jeno-jakab")
        i.fi-social-linkedin
      | &nbsp;&nbsp;&nbsp;&nbsp;
      a(href="https://github.com/jejak")
        i.fi-social-github
      | &nbsp;&nbsp;&nbsp;&nbsp;
      a(href="mailto:me@jenojakab.com")
        i.fi-mail
