$layout_background_color: rgba(45, 137, 218, 0.2);
$layout_site_max_width: 40rem;

// $colorscheme_color_1: #425F8C;
// $colorscheme_color_2: #22405C;
// $colorscheme_color_3: #7EA1BD;
// $colorscheme_color_4: #4C5618;
// $colorscheme_color_5: #354016;

// $colorscheme_color_1: #8C6B45;
// $colorscheme_color_1: #8C3331;
$colorscheme_color_1: #8C1916;
$colorscheme_color_2: #5C471E;
//$colorscheme_color_3: #BDB092;
$colorscheme_color_3: #BDA97B;
$colorscheme_color_4: #4B1556;
$colorscheme_color_5: #321640;
