// html {
//   background: url(img/spanishpoint-ireland.jpg) no-repeat center center fixed;
//   background-size: cover;
// }

body {
  background: url(/img/spanishpoint-midwest-ireland.jpg) no-repeat center center fixed;
  background-size: cover;
  background-attachment: fixed;

  .row {
    background-color: transparent;
  }

  .columns {
    padding: 0;
    margin: 0;
    background-color: transparent;
  }
}

.content {
  box-shadow: 0px 5px 5px 3px rgba(whitesmoke,0.75);
  background-color: transparent;
  padding: 0.5rem;
  //margin-bottom: 4rem;

  max-width: $layout_site_max_width;
  margin-left: auto ;
  margin-right: auto ;

  font-family: serif;
  text-align: justify;
  @include breakpoint(small down) {
    text-align: none;
  }

  h1 {
    color: $colorscheme_color_3;
    text-shadow: 1px 1px 1px #990000;
    font-size: 3.5rem;
    @include breakpoint(small down) {
      font-size: 2.6rem;
    }

    a {
      //color: $colorscheme_color_3;
      color: $alert_color;
      // text-shadow: 1px 1px 2px darkblue, 0 0 25px orange, 0 0 5px darkred;
      //text-shadow: 1px 2px 2px red, 0 0 25px orange, 0 0 5px darkred;

      text-shadow: 1px 2px 2px black, 0 0 25px $colorscheme_color_1, 0 0 5px darkred;
    }

    a:hover {
      color: $alert_color;
      font-weight: bolder;
    }
  }

  h2 {
    font-weight: bold;
    //color: $colorscheme_color_3;
    color: $white;
    text-shadow: 1px 2px 2px black, 0 0 25px yellow, 0 0 5px darkblue;
    @include breakpoint(small down) {
      font-size: 1.4rem;
    }
  }

  h3 {
    font-weight: bold;
    // color: $alert_color;
    // color: $colorscheme_color_5;
    color: $white;
    text-shadow: 1px 1px 2px black, 0 0 25px yellow, 0 0 5px darkblue;
    @include breakpoint(small down) {
      font-size: 1.3rem;
    }
  }

  a {
    color: $colorscheme_color_1;
  }

  a:hover {
    color: $alert_color;
    font-weight: normal;
  }

  .text {
    // color: $colorscheme_color_5;
    color: black;
    font-weight:550;
    font-size: 133%;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    border-radius: 5px;
    background-color: rgba(seashell, 0.7);
    @include breakpoint(small down) {
      font-size: 120%;
      //font-weight:600;
    }
  }

  i {
    font-weight: bolder;
    font-size: 460%;
  }

  @include breakpoint(small down) {
    .fi-social-linkedin {
      float: left;
    }
    .fi-mail {
      float: right;
    }
  }

  .media-links {
    margin-bottom: 5rem;
    background-color: transparent;
  }
}
